.ipynb_checkpoints/
.mapbox_token
to_build/
webapp-local.py
docu_files
docu.html
docu.docx
__pycache__/
datos/Pronostico_Alturas maximas.docx
datos/Alturas_Calculadas_2004-2020_conGraficos.xlsx
__pycache__/funprono.cpython-38.pyc
